@import "materialize";

@mixin label {
  cursor: default;
  margin: 0px;
  box-shadow: none;
  &:hover {
    box-shadow: none;
  }
}

h1 {
  font-size: 2rem !important;
}

h2 {
  font-size: 1.75rem !important;
}

h3 {
  font-size: 1.5rem !important;
}

h4 {
  font-size: 1.25rem !important;
}

.inline-date {
  display: inline-block !important;
  width: auto;
  margin: 10px 0;
}

.go_out-color {
  @extend .red;
  @extend .lighten-1;
}

.meeting-color {
  @extend .indigo;
  @extend .darken-1;
}

.vacation-color {
  @extend .green;
  @extend .darken-2;
}

.early_leaving-color {
  @extend .orange;
}

.go_out-btn {
  @extend .btn;
  @extend .go_out-color;
  margin: 0 5px;
}

.meeting-btn {
  @extend .btn;
  @extend .meeting-color;
  margin: 0 5px;
}

.vacation-btn {
  @extend .btn;
  @extend .vacation-color;
  margin: 0 5px;
}

.early_leaving-btn {
  @extend .btn;
  @extend .early_leaving-color;
  margin: 0 5px;
}

@media screen and (max-width: 480px) {
  .go_out-btn {
    .material-icons {
      display: none;
    }
  }
  .meeting-btn {
    .material-icons {
      display: none;
    }
  }
  .vacation-btn {
    .material-icons {
      display: none;
    }
  }
  .early_leaving-btn {
    .material-icons {
      display: none;
    }
  }
}

.go_out-label {
  @extend .btn;
  @extend .go_out-color;
  @include label;
}

.meeting-label {
  @extend .btn;
  @extend .meeting-color;
  @include label;
}

.vacation-label {
  @extend .btn;
  @extend .vacation-color;
  @include label;
}

.early_leaving-label {
  @extend .btn;
  @extend .early_leaving-color;
  @include label;
}

.submit-btn {
  color: white;
  @extend .waves-light;
  @extend .btn;
  @extend .waves-effect;
  width: 100%;
}

.sign-up-btn {
  color: white;
  @extend .waves-light;
  @extend .btn-large;
  @extend .waves-effect;
  @extend .orange;
  @extend .darken-4;
  width: 100%;
}

#error_explanation {
  padding: 0.5em 1em;
  margin: 2em 0;
  @extend .red;
  @extend .lighten-4;
  @extend .card-panel;
  h2 {
    margin: 1rem 0 1rem 0;
  }
}

.field_with_errors label {
  @extend .red;
  @extend .lighten-4;
}

#time-setting-component {
  padding-top: 6px;
}

#toast-container {
  .toast {
    padding: 15px 30px;
  }
}
