- flash.each do |type, msg|
  - color = 'green lighten-1' if type == 'success'
  - color = 'light-blue lighten-3' if type == 'notice'
  - color = 'lime lighten-3' if type == 'warning'
  - color = 'red lighten-1' if type == 'alert'

  = javascript_tag "M.toast({html: '#{msg}',
                             classes: '#{color}',
                             displayLength: 2000})"