%nav.light-blue.lighten-1
  .nav-wrapper.container
    %a#logo-container.left.brand-logo{:href => "#"} Logo
    %ul.right
      %li
        = current_time
      %li
        %a{:href => "#"} Navbar Link
      %li
        %a{:href => "#"} Navbar Link